<h1>Stupid Coaching</h1>

<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/MattMau88' class="avatar-large" />
  <div class="notification-content">
    <p><%= @question %></p>
  </div>
</div>

<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/maltyeva' class="avatar-large" />
  <div class="notification-content">
    <p><%= @answer %></p>
  </div>
</div>

<%= link_to "Ask another question", ask_path, class: "btn btn-gradient" %>
